<% provide(:title, "About") %>
<h1>About <%= site_name %></h1>
<p>
Modified.in is an online community site dedicated to the (awesome) sport of Freestyle Footbag.
</p>
<p>
It was developed from scratch to provide Freestyle footbaggers a place on the internet to own and share information related to our sport. It will ALWAYS remain free for all players, and we'll do our best to make sure the information put in will never be lost.
</p>
<p>
Please submit any bug report or feature request to Roy Klein	
</p>
