<% provide(:title, 'Home') %>
<div class="row">
	<!-- LEFT BAR: 2 grids -->
	<div class="left-bar span2">
		
		LEFT BAR
	</div>
	<!-- MAIN BAR: 7 grids -->
	<div class="span7">
		<div class="feed">
			<% if signed_in? %>
				<%= render 'shared/post_form' %>
			<% end %>
			<% if @feed_items.any? %>
				<%= render partial: 'shared/feed_item', collection: @feed_items %>
			<% end %>
		</div>
	</div>
	<!-- RIGHT BAR: 3 grids -->
	<div class="right-bar span2">
		RIGHT BAR
	</div>
</div>