<% provide(:title, 'Home') %>
<div class="row">
	<!-- MAIN BAR: 7 grids -->
	<div class="span7">
		<div class="front-page-feed feed">
			<% if signed_in? %>
				<%= render 'shared/post_form' %>
			<% end %>
			<% if @feed_items.any? %>
				<%= render partial: 'shared/feed_item', collection: @feed_items %>

			<% end %>
		</div>
	</div>
	<!-- RIGHT BAR: 4 grids -->
	<div class="right-bar span4">
		RIGHT BAR
	</div>
	<div class="row">
		<div class="span12" style="text-align:center;">
			<%= will_paginate @feed_items %>
		</div>
	</div>
</div>