<% provide(:title, 'Home') %>
<div class="front-page-feed feed">
	<% if signed_in? %>
		<%= render 'shared/post_form' %>
	<% end %>
	<% if @feed_items.any? %>
		<%= render partial: 'shared/feed_item', collection: @feed_items, comments_shown: false %>
	<% end %>
</div>


<%= render 'shared/ajax_loading', collection: @feed_items, loadPath: '/' %>
