<% provide(:title, 'Home') %>
<div class="front-page-feed feed">
	<% if signed_in? %>
		<%= render 'shared/post_form' %>
	<% end %>
	<% if @feed_items.any? %>
		<%= render partial: 'shared/feed_item', collection: @feed_items, comments_shown: false %>
	<% end %>
</div>
<div style="text-align:center;">
	<%= will_paginate @feed_items %>
</div>


