<% provide(:title, "Message") %>
<h1>Message</h1>
<%= render 'message_item', message: @message %>
<%= link_to new_message_path(recipient: @message.sender, replies_to: @message) do %>
	<div class="message-reply-btn btn btn-large">Reply</div>
<% end %>