<% provide(:title, t(:communities)) %>
<h1>Community Feeds</h1>
<% if signed_in? %>
	<% start_community_func = 'NM.toggleVisibility("#feed_form");' %>
	<p>Can't find the one you want? <%= link_to_function t(:start_your_own), start_community_func %></p>
	<div id="feed_form" style="display:none">
		<%= render "feed_form", feed: Feed.create %>
	</div>
<% end %>
<%= render @feeds %>