<li>
	<%= link_to blog.formatted_title, blog %>
	| <%= pluralize(blog.blog_posts.count, t(:post)) %>
	<% if correct_user?(blog.user) %> | 
		<%= link_to "delete", blog, method: :delete, data: {confirm: "You sure?"} %>
	<% end %>
</li>