<% provide(:title, 'All blogs') %>
<h1 class="left-title">All Blogs</h1>
<% if signed_in? %>
	<div class="import-blog"><%= link_to t(:import_your_blog), importblog_path %></div>
<% end %>
<div class="light-box" style="background-color: white;">
	<%= will_paginate %>

		<% if signed_in? && current_user.blog.nil? %>
			<div class="create-blog">
				<%= link_to t(:create_your_blog), '/initblog' %>
			</div>
		<% end %>
	<table class="blogs">
		<%= render @blogs %>
	</table>
</div>
	
