<% provide(:title, 'All blogs') %>
<h1 class="left-title" xmlns="http://www.w3.org/1999/html">All Blogs</h1>
<% if signed_in? %>
	<div class="import-blog"><%= link_to t(:import_your_blog), importblog_path %></div>
<% end %>
<div class="light-box" style="background-color: white;">

		<% if signed_in? && current_user.blog.nil? %>
			<div class="create-blog">
				<%= link_to t(:create_your_blog), '/initblog' %>
			</div>
		<% unless signed_in? %>
			<div class="blog-should-register">
				<p>Blog posts are private by default. Sign in or <%=  link_to t(:register), signup_path %> to see them.</p>
			</div>
		<% end %>
	<table class="blogs">
		<%= render @blogs %>
	</table>
	<script>
		$(document).ready(function() {
			$(".blog-title-input").keypress(function(e) {
				 if (e.which===13) {
					 var id = $(this).data("id");
					 $.ajax({
						 type: "POST",
						 url: "/blogs/rename",
						 data: {id: id,
						 				title: $(this).val()},
						 complete: function(data) {
							 if (data && data.readyState===4 && data.status===200 && data.responseText) {
								 $("#blog-title"+id).text(data.responseText);
								 $("#blog-title-input"+id).attr("placeholder", data.responseText);
							 }
							 $("#blog-title"+id).show();
							 $("#blog-title-input"+id).hide();
						 }
					 });
				 }
			});
			 $(".dropdown-menu .change-title").click(function() {
				 var id = $(this).data("id");
				 $("#blog-title"+id).hide();
				 $("#blog-title-input"+id).show();
			 })
		});
	</script>
</div>
	
