<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hey <%= @user.name %>,</h1>
    <p>
      Somone wrote a comment on something you posted on <%= @site_name %>.
    </p>
    <p>
      To see the comment, just follow this link: <%= @url %>
    </p>
    <p>Thanks!</p>
  </body>
</html>

