<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Hey <%= @recipient.name %>,</h1>
<p>
	You have a private message waiting for you at <%= @site_name %>.
</p>
<p>
	To read it, open this link: <%= @url %>
</p>
<p>Thanks!</p>
</body>
</html>

