<div class="comment">
	<%= render '/shared/feed_info', user: comment.commenter, user_name: comment.commenter_name,size: "small" %>
	<%= render '/shared/item_options', item: comment, user: comment.commenter %>
	<div class="content user_content">
		<%= comment.content.html_safe %>
	</div>
	
</div>
<%= render 'comments/comment_footer', comment: comment, comment_counter: comment_counter %>