<form id="newDrillForm">
	<input type="text" name="training_drill[name]" placeholder="Name" class="post-input half"/>
	<input type="text" name="training_drill[contacts_per_attempt]" placeholder="Contacts per drill attempt" class="post-input half"/>
	<input type="submit" value="Create Drill"/>
</form>
<script>
	window.NM_SESSION.initNewDrillForm();
</script>