<% provide(:title, t(:articles)) %>

<% if signed_in? && (current_user.admin? || current_user.author?)%>
	<% write_article_func = 'NM.toggleVisibility("#article_form");' %>
	<%= link_to_function t(:write_an_article), write_article_func, class: :write_article %>
	<div id="article_form" style="display:none;">
		<%= render "article_form", article: Article.create %>
	</div>
<% end %>
<%= render partial: 'category_item', collection: @categories %>
<%= render partial: 'category_item', locals: {category_item: @empty_category} %>
