<% provide(:title, t(:articles)) %>
<h1 class="left-title" style="display:inline-block;">Footbag Articles</h1>
<div class="light-box" id="articles-index">
	<% if signed_in? && (current_user.admin? || current_user.author?)%>
		<div class="article-new"><%= link_to t(:write_an_article), new_article_path, class: :write_article %></div>
	<% end %>
	<%= render partial: 'category_item', collection: @categories %>
	<%= render partial: 'category_item', locals: {category_item: @empty_category} %>
</div>