<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
	<div class="span8">
		<h2>Posts</h2>
		<% if @user.posts.any? %>
			<div class="posts">
				<%= render @posts %>
			</div>
		<% else %>
			<p class="pagination-centered">No posts by this user.</p>
		<% end %>
	</div>
</div>
