<div class="feed">
	<div class="feed-item">
		<%= render '/shared/edit_video_item', :feed_item => @video %>
	</div>
	<%= render 'shared/feed_item_footer', :feed_item => @video, comments_shown: true %>
</div>