<script>
	NM.endlessScroll({
		maxPages: <%= collection.total_pages %>,
		path: '<%= loadPath %>'
		<% if defined?(params[:page]) %>
			,currentPage: <%= params[:page] %>
		<% end %>
	});
</script>
<div id="loading-indicator">
	<img  src="/assets/ajax-loader.gif"/>
</div>