<script>
	NM.endlessScroll({
		maxPages: <%= collection.total_pages %>,
		path: '<%= loadPath %>'
		,currentPage: <%= params[:page] || 1 %>
	});
</script>
<div id="loading-indicator">
	<img  src="/assets/ajax-loader.gif"/>
</div>