<% comments_shown ||= false %>
<div class="feed-item-container" id="item<%= feed_item_counter %>">
	<%= render '/shared/feed_item_internal', feed_item: feed_item, feed_item_counter: feed_item_counter, comments_shown: comments_shown%>
</div>

