<% className = item.class.to_s.downcase %>
<% if current_user %>
	<% if current_user.admin? || current_user?(user) %>
		<span class="pull-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-cog"></i>
				</a>
				<ul class="dropdown-menu">
					<li><%= link_to "Edit", edit_polymorphic_path(item) %></li>
					<li><%= link_to "Delete", item, id: item.id, method: :delete, data: {confirm: "Are you sure?" } %></li>
					<% if item.public %>
						<li><%= link_to "Make private", polymorphic_path(item, className => {public: false}), method: :put %></li>
					<% else %>
						<li><%= link_to "Make public", polymorphic_path(item, className => {public: true}), method: :put %></li>
					<% end %>

				</ul>
			</li>
		</span>
	<% end %>
<% end %>