<%= form_for(Video.create()) do |f| %>
	<%= f.text_area(:uid, :rows=>1, :cols=>2, placeholder: "Video URL")%>
	<%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>	
	<div class="row offset3">
		<div class="field span5">
			
		</div>
	</div>
	<div class="row offset5">
		<div class="button span4">
			
		</div>
	</div>


