<%= form_for(Video.create()) do |f| %>
	<div class="row offset3">
		<div class="field span5">
			<%= f.text_area(:uid, :rows=>1, :cols=>2, placeholder: "Video URL")%>
		</div>
	</div>
	<div class="row offset5">
		<div class="button span4">
			<%= f.submit "Post", class: "btn btn-large btn-primary" %>
		</div>
	</div>

<% end %>
