<% if signed_in? %>
	<% unread_messages = current_user.received_messages.where(read: false).order('id desc').limit(10) %>
	<% if unread_messages.any? %>
		<li class="dropdown">
			<a href="#" class="messages-toggle dropdown-toggle" data-toggle="dropdown">
				<i class="icon-envelope icon-white"></i>
			</a>
			<ul class="dropdown-menu messages-flyout">
				<%= render partial: 'shared/personal_message_item', collection: unread_messages %>
				<li class="pull-right"><%= link_to "Mark all as read", '/markread' %></li>
			</ul>

		</li>

	<% end %>
<% end %>