<div class="feed">
	<div class="feed-item video-edit">
		<h3>Edit Session</h3>
		<%= render '/shared/sessions/edit_session_form', training_session: @training_session, submit_url: "/update_training_session" %>
	</div>
</div>