<div id="drillResult">
	<h3><%= @training_drill.select_name %></h3>
    <table>
        <tr>
	        <td>
              Attempts Count: <span id="attemptsCount"></span>
             </td>
            <td>
              <input type="text" data-validation="number" data-mandatory="true" name="training_drill_result[attempts_count]" class="post-input half" id="attemptsCountInput"/><br/>
            </td>
        </tr>
        <tr id="attempsPerBreak">
            <td>
              Attempts between breaks:
            </td>
            <td>
              <input type="text" data-validation="number" data-mandatory="false" class="post-input half" id="attemptsPerBreakInput"/>
            </td>
        </tr>
    </table>

	<div id="dropCountsContainer">

	</div>
    <input class="back button row" type="submit" value="Back"/>
    <input type="button" value="Continue" id="dropCountApplier"/>
	<input class="submit" type="submit" value="Done" style="display:none;" id="drillResultDone"/>
	<script>
		$(document).ready(function() {
			$("#dropCountApplier").click(function() {
				var attemptsInput = $("#attemptsCountInput");
				attemptsInput.hide();
                $("#attempsPerBreak").hide();
				$("#drillResultDone").show();
				var count = parseInt(attemptsInput.val(), 10);
                var breakEvery = parseInt($("#attemptsPerBreakInput").val(), 10);
				if (count>80) {
					count = 80;
				}
				$("#attemptsCount").html(count)
				if (count) {
					var _html = "";
					for (var i=0; i<count; i++) {
                        if (breakEvery==breakEvery && i>0) {
                            if (i%breakEvery==0) {
                                _html += '<p style="text-align:center">Take a break!</p>';
                            }
                        }
						var attemptName = "";
						var countNumber = i+1;
						if (countNumber==1 || countNumber==21 || countNumber==31 || countNumber==41 || countNumber==51) attemptName = countNumber+"st"; else
						if (countNumber==2 || countNumber==22 || countNumber==32 || countNumber==42 || countNumber==52) attemptName = countNumber+"nd"; else
						if (countNumber==3 || countNumber==33 || countNumber==33 || countNumber==43 || countNumber==53) attemptName = countNumber+"rd"; else
							attemptName = countNumber+"th";
						_html += '<input type="text" data-validation="number" data-mandatory="true" placeholder="'+attemptName+' attempt drop count" name="drops_count'+i+'" class="post-input half"/></div>';
					}
                    $("#dropCountApplier").hide();
					$("#dropCountsContainer").html(_html);
                    $("input.back").data("confirm", "Are you sure?");
				}
				return false;
			});
		});
	</script>
</div>