<div id="drillResult">
	<input type="text" placeholder="Attempts count" name="attempts_count" class="post-input half"/>
	<input type="text" placeholder="Drops Count" name="drops_count" class="post-input half"/>
	<input type="submit" value="Done"/>
</div>