<span class="drill-result">
<%= @training_drill_result.training_drill.name %>. Attempts: <%= @training_drill_result.attempts_count%>. Total Contacts: <%= @training_drill_result.attempts_count * @training_drill_result.training_drill.contacts_per_attempt%>. Drops: <%= @training_drill_result.get_summed_drops%>
</span><br/>