<div class="feed">
	<div class="feed-item">
		<%= render '/shared/edit_content_item', feed_item: @post, user: @post.user %>
	</div>
	<%= render 'shared/feed_item_footer', :feed_item => @post, comments_shown: true %>
</div>