@import "bootstrap";

/* vars */
$lightYellow: #f9ed9d;
/* Mixin */
@mixin gradient ($origin: left, $start: #ffffff, $stop: #000000) {
	background-color: $start;
	background-image: -webkit-linear-gradient($origin, $start, $stop);
	background-image: -moz-linear-gradient($origin, $start, $stop);
	background-image: -o-linear-gradient($origin, $start, $stop);
	background-image: -ms-linear-gradient($origin, $start, $stop);
	background-image: linear-gradient($origin, $start, $stop);
}

.headernav {
	background-color: #ff0000;
	@include gradient(right, #903, #903);
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

.navbar .nav > li > a {
	color: $white;
}
.navbar .nav > li > a:hover {
	color: $lightYellow;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}