<script>
	$(window).load(function() {
	    $("#footer").pinFooter("relative");
	});

	$(window).resize(function() {
	    $("#footer").pinFooter("relative");
	});
</script>	
<footer class="footer" id="footer">
	<div class="container">
		<p>
			<%=t(:footer_text1)%> <a href="https://github.com/royk/">RoyK</a>
		</p>
	</div>
</footer>